<div class="bounceInRight animated go">
  <a title="Remonté" class="gototop" href="#htmlup" target="_self">
    <div class="box" style="font-family:'ffad_matroregular';">
        Top
    </div>
  </a>
  <a title="Descendre{% if site.livere %}| livere |{% endif %}{% if site.disqus %}| disqus |{% endif %}{% if site.Gitment %}| Gitment |{% endif %}" class="gotobottom" href="#htmldown" target="_self">
    <div class="box" style="font-family:'ffad_matroregular';">
        Foot
    </div>
  </a>
</div>
