<!-- Default-Layout -->
<!DOCTYPE html>
<html>
<head>
<!-- Header -->
{% include head.html %}
</head>
<body>
<!-- Article -->
{{ content }}

<!-- Animate wow.js -->
<script src="/assets/js/wow.js"></script>
<script>
    var wow = new WOW({
        boxClass: 'wow',
        animateClass: 'animated',
        // offset: 5,
        mobile: true,
        live: true
    });
    wow.init();
</script>
<!-- Refresh Page -->
<script>
    window.onbeforeunload = function(){
        //Go Top After Refresh Page
        document.documentElement.scrollTop = 0;
        document.body.scrollTop = 0;
    }
</script>

</body>
</html>
